<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="axilais_mass_price_update" id="axilais_mass_price_update">
			<module before="Magento_Backend" name="Axilais_MassPriceUpdate"/>
		</route>
	</router>
</config>